body{
  background-color: #FFFAF0;

  padding-top: 40px;
  transition: background-color .3s;
}
.container-fluid{
  /*background-color: #FFFAF0;*/
}
.jumbotron{
  position: relative;
  margin-top: 100px;


}
.main{
  position: absolute;
  height: 100%;
  width: 100%;
}
#button{
  /*position: relative;*/
  /*height: 20%;*/
  position: absolute;
  bottom: 450px;
  right: 290px;

}
#tweet {
  position: absolute;
  bottom: 450px;
  left: 305px;

}
#quote{
  font-family: monospace;
  font-size: 25px;
}
#quote-source{
  font-family: monospace;
  /*float: right;*/
  padding-right: 100px;
  padding-top: 10px;
  font-size: 200px;
}
